<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.nino.hrckaraoke"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
         >
        <activity
            android:name="com.nino.hrckaraoke.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="com.nino.hrckaraoke.MainActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.nino.hrckaraoke.Request"
            android:label="@string/title_activity_request"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nino.hrckaraoke.Register"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nino.hrckaraoke.Profile"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
             >
        </activity>
        <activity
            android:name="com.nino.hrckaraoke.Previous"
            android:label="@string/title_activity_previous"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nino.hrckaraoke.Others"
            android:label="@string/title_activity_others"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nino.hrckaraoke.Guide"
            android:label="@string/title_activity_guide"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nino.hrckaraoke.Welcome"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name="com.nino.hrckaraoke.Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity android:name="com.facebook.LoginActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>